.header {
  text-align: center;
  margin-top: 2%;
}
.email {
  text-align: center;
}

.p-style {
  margin-left: 3%;
}
.buttons {
  margin-top: 5%;
  text-align: center;
}

button {
  margin-left: 12%;
  margin-right: 12%;
}
