<div class="header">
  <b>Új profil létrehozása</b>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="body">
    <div class="p-style">
      <p>Email:</p>
    </div>
    <div class="email">
      <mat-form-field style="width:60vw; margin-right: 20px">
        <mat-label>Írd be az email címed</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
    </div>
    <div class="p-style">
      <p>Jelszó:</p>
    </div>
    <div class="password">
      <mat-form-field style="width:29vw; margin-left: 1.5vw">
        <mat-label>Írd be a jelszavad</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
      <mat-form-field style="width:29vw; margin-left: 2vw">
        <mat-label>Erősítsd meg a jelszavad</mat-label>
        <input matInput type="password" formControlName="rePassword" />
      </mat-form-field>
    </div>
    <div class="p-style">
      <p>Név:</p>
    </div>
    <div class="password">
      <div formGroupName="name" class="subForm">
        <mat-form-field style="width:29vw; margin-left: 1.5vw">
          <mat-label>Vezetéknév</mat-label>
          <input matInput type="email" formControlName="lastName" />
        </mat-form-field>
        <mat-form-field style="width:29vw; margin-left: 2vw">
          <mat-label>Keresztnév</mat-label>
          <input matInput type="email" formControlName="firstName" />
        </mat-form-field>
      </div>
    </div>
    <div class="p-style">
      <p>Tanulmány:</p>
      <div class="tanulmany">
        <mat-form-field appearance="fill" style="width:29vw; margin-left: 1.5vw">
          <mat-label>Melyik szakon tanulsz?</mat-label>
          <mat-select formControlName="major" >
            <mat-option value="Programtervező informatikus">Programtervező informatikus</mat-option>
            <mat-option value="Mérnökinformatikus">Mérnökinformatikus</mat-option>
            <mat-option value="Anyagmérnöki">Anyagmérnöki</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:29vw; margin-left: 1.5vw">
          <mat-label>Hanyadik féléves vagy?</mat-label>
          <mat-select formControlName="semester" >
            <mat-option value="I.">I.</mat-option>
            <mat-option value="II">II.</mat-option>
            <mat-option value="III">III.</mat-option>
            <mat-option value="IV">IV.</mat-option>
            <mat-option value="V">V.</mat-option>
            <mat-option value="VI">VI.</mat-option>
            <mat-option value="VII">VII.</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="buttons">
      <button mat-raised-button type="submit">Regisztráció</button>
      <button mat-button [routerLink]="'/login'">Bejelentkezés</button>
    </div>
  </div>
</form>


