<div class="container">
  <div id="header">
    <p>Tanulmányi adatok megváltoztatása</p>
  </div>
  <div class="element-container">
    <mat-form-field appearance="fill" style="width:29vw; margin-left: 1.5vw">
      <mat-label>Melyik szakon tanulsz?</mat-label>
      <mat-select required>
        <mat-option value="option1">Programtervező informatikus</mat-option>
        <mat-option value="option2">Mérnökinformatikus</mat-option>
        <mat-option value="option3">Anyagmérnöki</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="element-container">
  <mat-form-field appearance="fill" style="width:29vw; margin-left: 1.5vw">
    <mat-label>Hanyadik féléves vagy?</mat-label>
    <mat-select required>
      <mat-option value="option1">I.</mat-option>
      <mat-option value="option2">II.</mat-option>
      <mat-option value="option3">III.</mat-option>
      <mat-option value="option3">IV.</mat-option>
      <mat-option value="option3">V.</mat-option>
      <mat-option value="option3">VI.</mat-option>
      <mat-option value="option3">VII.</mat-option>
    </mat-select>
  </mat-form-field>
    </div>
</div>
<div class="buttons">
  <button mat-raised-button>Mentés</button>
  <button mat-button mat-dialog-close>Mégsem</button>
</div>
