<div class="container">
  <div class="ms-5 me-5 ps-5 pe-5">
    <p>Tanulmányi adatok megváltoztatása</p>
  </div>
  <div>
    <form [formGroup]="updateStudiesForm" (ngSubmit)="onSave()">
      <div class="row mt-2">
        <div class="col ms-5 me-5 ps-5 pe-5">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Melyik szakon tanulsz?</mat-label>
            <mat-select [(value)]="major" formControlName="major" required>
              <mat-option value="Programtervező informatikus">Programtervező informatikus</mat-option>
              <mat-option value="Mérnökinformatikus">Mérnökinformatikus</mat-option>
              <mat-option value="Anyagmérnöki">Anyagmérnöki</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col ms-5 me-5 ps-5 pe-5">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Hanyadik féléves vagy?</mat-label>
            <mat-select [(value)]="semester" formControlName="semester" required>
              <mat-option value="I.">I.</mat-option>
              <mat-option value="II">II.</mat-option>
              <mat-option value="III">III.</mat-option>
              <mat-option value="IV">IV.</mat-option>
              <mat-option value="V">V.</mat-option>
              <mat-option value="VI">VI.</mat-option>
              <mat-option value="VII">VII.</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <div class="row mt-2 ms-5 me-5 ps-5 pe-5">
      <div class="col ms-5 me-5 ps-5 pe-5">
        <button mat-raised-button type="submit">Mentés</button>
      </div>
      <div class="col ms-5 me-5 ps-5 pe-5">
        <button mat-button mat-dialog-close>Mégsem</button>
      </div>
    </div>
  </div>
</div>
