.container {
  margin: 50px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 20px;
}

b {
  font-size: 16px;
  align-items: center;
}

.element {
  margin-top: 3vh;
  margin-right: 10px;
}

.element-container {

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 12vh;
}


mat-form-field {
  margin-left: 20px;
  width: 600px;
}

.buttons {
  margin-top: 12vh;
  text-align: center;
}

button {
  margin-left: 12%;
  margin-right: 12%;
}

mat-form-field textarea {
  height: 200px;
}
