<div class="page-container">
  <div class="button-div">
    <button mat-raised-button (click)="onOpenDialog()">+ Új bejegyzés</button>
  </div>
  <div class="car-container" *ngFor="let post of tutoringPosts">
    <mat-card>
      <mat-card-content>
        <div>
          <div>
            <p *ngIf="post.author.id !== currentUserId">{{ getAuthorName(post.author.id) }}
              : {{ post.time.toDate() | date:'yyyy/MM/dd' }}</p>
            <p *ngIf="post.author.id === currentUserId"> Én: {{ post.time.toDate() | date:'yyyy/MM/dd' }}</p>
            <b>Korrepetlást szeretnék: <span> {{ post.want }} </span></b> <br>
            <b>Melyik anyagrész: <span> {{ post.topic }} </span> </b> <br>
            <b>Miben tudok segíteni cserébe: <span> {{ post.offer }} </span></b>
          </div>
          <div>
            <b>Leírás:</b> <span class="desciption"> <p> {{ post.description }} </p></span>
          </div>
          <div class="button-container-div">
          <span>
            <button mat-raised-button (click)="writeMassage()" *ngIf="post.author.id !== currentUserId">Üzenet</button>
            <button mat-raised-button (click)="onStartTutoring()"
                    *ngIf="post.author.id !== currentUserId">Korrepetálás</button>
            <button mat-raised-button (click)="deletePost(post?.id!)" *ngIf="post.author.id === currentUserId">Törlés</button>
          </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
