<div class="page-container">
  <div class="button-div">
    <button mat-raised-button (click)="onOpenDialog()">Új bejegyzés</button>
  </div>
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          <b>Korrepetlást szeretnék: <span> Kalkulus </span></b> <br>
          <b>Melyik anyagrész: <span> Integrálás </span> </b> <br>
          <b>Miben tudok segíteni cserébe: <span> Programozás I. </span></b>
        </div>
        <div>
          <b>Leírás:</b> <span class="desciption"> <p>Sziasztok! Segítséget szeretnék kérni Kalkulusból és azon belül is Integrálásból. Discordod preferálom de akár személyesen is tarthatnánk a korrepetálást. Cserébe tudok segíteni programozásból. Ha nem kell segítség akkor a vendégem vagy 1-2 sörre! :D </p></span>
        </div>
        <div class="button-container-div">
          <span>
            <button mat-raised-button (click)="writeMassage()">Üzenet</button>
            <button mat-raised-button (click)="onStartTutoring()">Korrepetálás</button>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-div">
    <mat-card>
      <mat-card-content>
        <div>
          <b>Korrepetlást szeretnék: <span> Multimédia </span></b> <br>
          <b>Melyik anyagrész: <span> jQuerry </span> </b> <br>
          <b>Miben tudok segíteni cserébe: <span> Semmiben </span></b>
        </div>
        <div>
          <b>Leírás:</b> <span class="desciption"> <p>Szia! Szeretnék segítséget kérni Multimédiából. Sajnos nem hiszem, hogy akármi másban tudnék neked segíteni. Kérlek írj rám ha tudsz segíteni. </p></span>
        </div>
        <div class="button-container-div">
          <span>
            <button mat-raised-button>Üzenet</button>
            <button mat-raised-button>Korrepetálás</button>
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
