.button-div {
  margin: 20px;
}

.desciption {
  width: 70%;
}

.button-container-div{
  margin-left: 70%;
}

button {
  margin-left: 10px;
}

mat-card {
  width: 95%;
  margin-left: 20px;
}
.card-div {
  margin-top: 20px;
}
.car-container {
  margin: 15px;
}

.delet-button-container {
  margin-left: 80%;
}


