<div class="container">
  <div id="header">
    <p>Személyes adatok megváltoztatása</p>
  </div>
  <div class="element-container">
    <div class="element">
      <b>Vezetéknév:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Új vezetéknév</mat-label>
        <input matInput placeholder="pl: Kiss">
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div class="element">
      <b>Keresztnév:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Új keresztnév</mat-label>
        <input matInput placeholder="pl: Pista">
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div class="element">
      <b>Becenév:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Hogy szeretnéd, hogy hívjanak?</mat-label>
        <input matInput placeholder="pl: Erőspista">
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button>Mentés</button>
    <button mat-button mat-dialog-close>Mégsem</button>
  </div>
</div>
