<div class="profile-img-and-text-container">
  <div class="left">
    <img src="assets/images/basic_avatar_man.jpg" class="profile-avatar" alt="profile picture">
  </div>
  <div class="right">
    <h2>Saját Nevem</h2>
    <h3>Programtervező Informatikus Bsc.</h3>
    <h4>I. félév</h4>
  </div>
</div>

<div class="card-container">
  <div class="card">
    <mat-card>
      <mat-card-content>
        <div class="card-content-header">
          <h3>Tantárgyak</h3>
        </div>
        <div class="card-content-body">
          <button mat-button><p>Valamilyen tantárgy 1</p></button>
          <button mat-button><p>Valamilyen tantárgy 2</p></button>
          <button mat-button><p>Valamilyen tantárgy 3</p></button>
          <button mat-button><p>Valamilyen tantárgy 4</p></button>
          <button mat-button><p>Valamilyen tantárgy 5</p></button>
          <button mat-button><p>Valamilyen tantárgy 6</p></button>
          <button mat-button><p>Valamilyen tantárgy 7</p></button>
          <button mat-button><p>Valamilyen tantárgy 8</p></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <div class="card-content-header">
          <h3>Ismerősök</h3>
        </div>
        <div class="card-content-body">
          <button mat-button><p>Valamilyen ismerős 1</p></button>
          <button mat-button><p>Valamilyen ismerős 2</p></button>
          <button mat-button><p>Valamilyen ismerős 3</p></button>
          <button mat-button><p>Valamilyen ismerős 4</p></button>
          <button mat-button><p>Valamilyen ismerős 5</p></button>
          <button mat-button><p>Valamilyen ismerős 6</p></button>
          <button mat-button><p>Valamilyen ismerős 7</p></button>
          <button mat-button><p>Valamilyen ismerős 8</p></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card">
    <mat-card>
      <mat-card-content>
        <div class="card-content-header">
          <h3>Kitüntetések</h3>
        </div>
        <div class="card-content-body">
          <button mat-button><p>Valamilyen kitüntetés 1</p></button>
          <button mat-button><p>Valamilyen kitüntetés 2</p></button>
          <button mat-button><p>Valamilyen kitüntetés 3</p></button>
          <button mat-button><p>Valamilyen kitüntetés 4</p></button>
          <button mat-button><p>Valamilyen kitüntetés 5</p></button>
          <button mat-button><p>Valamilyen kitüntetés 6</p></button>
          <button mat-button><p>Valamilyen kitüntetés 7</p></button>
          <button mat-button><p>Valamilyen kitüntetés 8</p></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
