<div *ngIf="!loading && user">
  <div class="profile-img-and-text-container">
    <div class="left">
      <img src="assets/images/basic_avatar_man.jpg" class="profile-avatar" alt="profile picture">
    </div>
    <div class="right">
      <h2>{{ user.name.lastName }} {{ user.name.firstName }} (Én)</h2>
      <h3>{{ user.major }} szak</h3>
      <h4>{{ user.semester }}. félév</h4>
    </div>
  </div>
  <div class="hoveredText">
    <p *ngIf="isHovered" style="color: crimson">Ez a kitüntetés azoknak jár akik a szakdolgozat készítésekor
      csatlakoztak!</p>
  </div>
  <div class="card-container">
    <div class="card">
      <mat-card>
        <mat-card-content>
          <div class="card-content-header">
            <h3>Tantárgyak</h3>
          </div>
          <div class="card-content-body">
            <div *ngFor="let subject of mySubjects">
              <button mat-button (click)="goToSubjectPage(subject)"><p>{{ subject }}</p></button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-content>
          <div class="card-content-header">
            <h3>Ismerősök</h3>
          </div>
          <div class="card-content-body">
            <div class="card-content-body">
              <div *ngFor="let friend of myFriends">
                <button mat-button (click)="goToProfile(friend)">
                  <p>{{ friend.name.lastName }} {{ friend.name.firstName }}</p></button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="card">
      <mat-card>
        <mat-card-content>
          <div class="card-content-header">
            <h3>Kitüntetések</h3>
          </div>
          <div class="card-content-body">
            <div *ngFor="let badge of user.badges">
              <button mat-button (mouseover)="isHovered = true" (mouseout)="isHovered = false"><p>{{ badge }}</p>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<div *ngIf="loading" class="d-flex align-items-center justify-content-center h-100 w-100">
  <mat-spinner></mat-spinner>
</div>

