<div class="header"><b>Beállítások</b></div>
<div style="height: 100%;">
  <mat-card style="top: 15%; left: 15%;">
    <mat-card-content>
      <div class="button-container">
        <button mat-button (click)="onOpenDialogPersonal()"><p>Személyes adatok</p></button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="top: 15%; right: 15%;">
    <mat-card-content>
      <div class="button-container">
        <button mat-button (click)="onOpenDialogPassword()"><p>Jelszó megváltoztatása</p></button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="bottom: 15%; left: 15%;">
    <mat-card-content>
      <div class="button-container">
        <button mat-button (click)="onOpenDialogStudies()"><p>Tanulmányi beállítások</p></button>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card style="bottom: 15%; right: 15%;">
    <mat-card-content>
      <div class="button-container">
        <button mat-button (click)="onOpenDialogOther()"><p>Egyéb</p></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
