<div class="container">
  <div class="ms-5 me-5 ps-5 pe-5">
    <p>Jelszó megváltoztatása</p>
  </div>
  <div>
    <div class="row mt-2">
      <div class="col ms-5 me-5 ps-5 pe-5">
        <mat-form-field style="width:100%">
          <mat-label>Jelenlegi jelszavad:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col ms-5 me-5 ps-5 pe-5">
        <mat-form-field style="width:100% ">
          <mat-label>Új jelszó</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col ms-5 me-5 ps-5 pe-5">
        <mat-form-field style="width:100%">
          <mat-label>Új jelszó megerősítése:</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-2 ms-5 me-5 ps-5 pe-5">
      <div class="col ms-5 me-5 ps-5 pe-5">
        <button mat-raised-button>Mentés</button>
      </div>
      <div class="col ms-5 me-5 ps-5 pe-5">
        <button mat-button mat-dialog-close>Mégsem</button>
      </div>
    </div>
  </div>
</div>
