<div class="container">
  <div id="header">
    <p>Jelszó megváltoztatása</p>
  </div>
  <div class="element-container">
    <div>
      <mat-form-field>
        <mat-label>Jelenlegi jelszavad:</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div>
      <mat-form-field>
        <mat-label>Új jelszó</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div>
      <mat-form-field>
        <mat-label>Új jelszó megerősítése:</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button>Mentés</button>
    <button mat-button mat-dialog-close>Mégsem</button>
  </div>
</div>
