.subjects-card-container {
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
}

.left {
  max-width: 70%;
}

.vertical-line {
  height: 100%;
  border-left: 1px solid #ccc; /* Adjust the color as needed */
  margin: 0 10px; /* Adjust the margin as needed */
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align buttons to the right */
  margin-left: auto; /* Push buttons to the right */
}
