<div class="header">
  <b>Üdvözöllek</b>
</div>
<div class="body">
  <div class="p-email">
    <p>Email:</p>
  </div>
  <div class="email-password">
    <mat-form-field style="width:40vw">
      <mat-label>Írd be az email címed</mat-label>
      <input matInput type="email" [formControl]="email" required/>
    </mat-form-field>
  </div>
  <div class="p-style">
    <p>Jelszó</p>
  </div>
  <div class="email-password">
    <mat-form-field style="width:40vw">
      <mat-label>Írd be a jelszavad</mat-label>
      <input matInput type="password" [formControl]="password" required/>
    </mat-form-field>
  </div>
  <div class="buttons">
    <button mat-raised-button (click)="login()">Bejelentkezés</button>
    <button mat-button [routerLink]="'/register'">Regisztráció</button>
  </div>
</div>
