<div class="container">
  <div class="header">
    <b>Üdvözöllek</b>
  </div>
  <div class="body" [formGroup]="loginForm">
    <div class="row mt-3">
      <p class="col">Email:</p>
    </div>
    <div class="row mt-2">
      <div class="col">
        <mat-form-field style="width:100%">
          <mat-label>Írd be az email címed</mat-label>
          <input matInput type="email" formControlName="email"/>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <p>Jelszó:</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <div class="email-password">
          <mat-form-field style="width:100%">
            <mat-label>Írd be a jelszavad</mat-label>
            <input matInput type="password" formControlName="password"/>
          </mat-form-field>
        </div>
      </div>
      <div class="buttons">
        <button mat-raised-button (click)="login()">Bejelentkezés</button>
        <button mat-button [routerLink]="'/register'">Regisztráció</button>
      </div>
    </div>
  </div>
</div>
