.header {
  text-align: center;
  margin-top: 2%;
}

.email-password {
  text-align: center;
}

.p-style {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.p-email {
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 2%;
}

.buttons {
  margin-top: 5%;
  text-align: center;
}

button {
  margin-left: 12%;
  margin-right: 12%;
}
