<div class="new-button">
  <button mat-stroked-button (click)="onOpenDialog()"
          matTooltip="Új poszt írása">Új poszt</button>
</div>
  <div *ngFor="let post of posts" class="post-container">
    <mat-card class="post-card">
      <mat-card-content>
        <div class="header">
          <b class="title">{{ post.title }}</b>
          <p class="author">{{ post.authorFirstName }} {{ post.authorLastName }}
            : {{ post.time.toDate() | date:'yyyy/MM/dd'  }}</p>
        </div>
        <div class="description">
          {{ post.description }}
        </div>
        <form [formGroup]="newCommentForm" (ngSubmit)="submitComment(post?.id!)">
          <div class="comment-container">
            <mat-form-field class="comment-field">
              <textarea matInput placeholder="Write a comment" formControlName="text" required></textarea>
            </mat-form-field>
            <div class="button-container">
              <button mat-button class="add-button">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-button class="send-button" type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </form>
        <ng-container *ngFor="let comment of comments">
        <div class="comment-section-container" *ngIf="commentPostPair(comment.id, post.id)">
          <mat-card class="com-card">
            <mat-card-content>
              <div class="com-meta">
                <p class="com-author">{{ comment.author }}</p>
                <p class="com-time">{{ comment.time.toDate() | date:'yyyy/MM/dd' }}</p>
              </div>
              <div class="com-header">
                <p class="com-title">{{ comment.text }}</p>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>

<div *ngIf="loading" class="d-flex align-items-center justify-content-center h-100 w-100">
  <mat-spinner></mat-spinner>
</div>
