.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 5px;
  font-size: 18px;
}

.author {
  font-size: 12px;
  margin: 5px;
  text-align: right;
}

.description {
  margin: 5px;
  margin-top: 16px;
}

.comment-container {
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.comment-field {
  width: 60%;
}

.comment-button {
  z-index: 1;
}

.comment-section-container {
  margin: 10px;
  width: 85%;
}

.com-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.com-title {
  margin: 5px;
  font-size: 12px;
}

.com-author {
  margin-right: auto;
  font-size: 12px;
}
.com-time {
  font-size: 12px;
}

.com-meta {
  display: flex;
  justify-content: space-between;
}

.comment-section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.com-card {
  width: 100%;
  margin-right: 10px;
  background-color: rgba(250, 250, 250, 0.9);
}

.com-button-container {
  display: flex;
  align-items: center;
}

.com-reply-button {
  display: flex;
  align-items: center;
}

.mat-card{
  background-color: rgba(250, 250, 250, 0.5);
}

.new-button {
  margin: 10px;
}

.bttn {
  margin: 5px;
}

.post-container {
  margin: 10px;
}


.comment-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.comment-field {
  flex: 1;
  margin-right: 16px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.add-button {
  margin-bottom: 8px;
}

