<div class="page-container">
  <div class="students-card-container" *ngFor="let student of students">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToProfile(student)"><h2>{{ student.name.lastName }} {{ student.name.firstName }}</h2></button>
            <p>{{ student.major }} | {{ student.semester }} félév</p>
          </div>
          <div class="right">
            <button mat-icon-button *ngIf="!isUserAlreadyFriend(student)" (click)="addFriend(student)">
              <mat-icon>person_add</mat-icon>
            </button>
            <button mat-icon-button (click)="writeMessage(student)">
              <mat-icon>textsms</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
