<div class="page-container">
  <div class="subjects-card-container" *ngFor="let subject of subjects">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage(subject)"><h2>{{subject.name}}</h2></button>
            <p>{{subject.recommended}} féléves tantárgy | {{subject.mandatory}} | {{subject.joinedUsers}} csatlakozott felhasználó   |
              {{subject.posts.length}} poszt</p>
          </div>
          <div class="right" *ngIf="!isUserJoinedSubject(subject)">
            <button mat-button (click)="joinSubjectForum(subject)"
                    matTooltip="{{ subject.name }} felvétele a tantárgyaidhoz">
              <p>Csatlakozás</p>
            </button>
          </div>
          <div class="right" *ngIf="isUserJoinedSubject(subject)">
            <button mat-button (click)="deleteSubjectForum(subject)"
                    matTooltip="{{ subject.name }} törlése a tantárgyaid közül">
              <p>Kilépés</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
