<div class="page-container">
  <div class="subjects-card-container">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage()"><h2>Kalkulus I. [MBNX311E-1]</h2></button>
            <p>Első féléves tantárgy   |   Kötelező   |   121 csatlakozott felhasználó   |    971 poszt</p>
          </div>
          <div class="right">
            <button mat-button (click)="joinSubjectForum()">
              <p>Csatlakozás</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="subjects-card-container">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage()"><h2>Kalkulus I. [MBNX311E-1]</h2></button>
            <p>Első féléves tantárgy   |   Kötelező   |   121 csatlakozott felhasználó   |    971 poszt</p>
          </div>
          <div class="right">
            <button mat-button (click)="joinSubjectForum()">
              <p>Csatlakozás</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="subjects-card-container">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage()"><h2>Kalkulus I. [MBNX311E-1]</h2></button>
            <p>Első féléves tantárgy   |   Kötelező   |   121 csatlakozott felhasználó   |    971 poszt</p>
          </div>
          <div class="right">
            <button mat-button (click)="joinSubjectForum()">
              <p>Csatlakozás</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="subjects-card-container">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage()"><h2>Kalkulus I. [MBNX311E-1]</h2></button>
            <p>Első féléves tantárgy   |   Kötelező   |   121 csatlakozott felhasználó   |    971 poszt</p>
          </div>
          <div class="right">
            <button mat-button (click)="joinSubjectForum()">
              <p>Csatlakozás</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="subjects-card-container">
    <mat-card>
      <mat-card-content>
        <div class="content">
          <div class="left">
            <button mat-button (click)="goToSubjectPage()"><h2>Kalkulus I. [MBNX311E-1]</h2></button>
            <p>Első féléves tantárgy   |   Kötelező   |   121 csatlakozott felhasználó   |    971 poszt</p>
          </div>
          <div class="right">
            <button mat-button (click)="joinSubjectForum()">
              <p>Csatlakozás</p>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
