<div class="container">
  <div id="header">
    <p>Új bejegyzés</p>
  </div>
  <form [formGroup]="newPostForm" (ngSubmit)="onNewPostSubmit()">
  <div class="element-container">
    <div class="element">
      <b>Tantárgy:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Miből kérsz segítséget?</mat-label>
        <input matInput placeholder="pl: Kalkulus" formControlName="want" required/>
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div class="element">
      <b>Témakör:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Melyik anyagrészből kérsz segítséget?</mat-label>
        <input matInput placeholder="pl: Integrálás" formControlName="topic" required/>
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div class="element">
      <b>Segítség:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Miből tudsz segíteni?</mat-label>
        <input matInput placeholder="pl: Prog I." formControlName="offer" required/>
      </mat-form-field>
    </div>
  </div>
  <div class="element-container">
    <div class="element">
      <b class="">Leírásod:</b>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Részletes leírás</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button mat-raised-button type="submit">Mentés</button>
    <button mat-button mat-dialog-close>Mégsem</button>
  </div>
  </form>
</div>

